<div id="form" class="trav-card bg-col1">
  <h2 class="mb-5">Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label class="d-flex justify-content-between"> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label class="d-flex justify-content-between"> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label class="d-flex justify-content-between"> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <hr class="w-100">
    <hr class="w-100">
    <hr class="w-100">

    <button class="btn btn-col4 text-white mt-3" type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error mt-2">{{errorMessage}}</p>
    {{/if}}

    <div class="mt-2">
      <p><em>Already an user? <a href="/auth/login">Login</a></em></p>
    </div>

  </form>
</div>