<h2 class="">New Visit Card</h2>
<p>Here you can create a new card, {{user.username}}</p>

<div class="row">
    <div class="col-md-3 trav-card bg-col1 mt-0 ml-3">
        <form class="d-flex flex-column" action="/add-card" method="POST">
        
            <label class="d-flex justify-content-between" for="geocoder">City</label>
            <div   name="city" id="geocoder"></div>
            <input type="text" name="city" id="geocoder-input"  hidden/>
            <input name="coordinates" id="coordinates" hidden/>

            <label class="d-flex justify-content-between" for="recommendation-input">Recommendation</label>
            <input id="recommendation-input" type="text" name="recommendation" required class="w-100"/>

            {{!-- <textarea id="recommendation-input" name="recommendation" rows="4" cols="40"></textarea> --}}

            <label class="d-flex justify-content-between" for="rating-input">Rate</label>
            <input id="rating-input" type="Number" name="rating" placeholder="1-5 Stars" min="1" max="5" class="w-100"/>

            <label class="d-flex justify-content-between" for="date-input">Date</label>
            <input id="date-input" type="date" name="date" class="w-100"/>

            <input id="userOwnerId-input" type="string" name="userOwnerId" value="{{user._id}}" hidden/>
            <input id="userOwnerName-input" type="string" name="userOwnerName" value="{{user.username}}" hidden/>

            <button class="btn btn-col4 text-white mt-3" type="submit">Submit</button>

            <!---  Add Map -->
            <div class="enveloppe-card">
                <div id="mapbox-user" style='width: 1000px; height: 600px;'></div>
            </div>
            

        </form>
    </div>
    <div class="col-md-8" id="mapbox-user" style='height: 600px;'></div>
</div>

<!-- Link to User Map -->
<script src="/js/mapbox-user.js">   </script>
