<header class="mb-3">
  <h1 class="text-left">All Users Map</h1>
  <div class="row justify-content-between px-3">
    <p class="">Check all places people have been</p>
    <a class="btn btn-col4 text-white" href="/add-card">Add New Card</a>
  </div>
</header>

<div class="row map-section">
  <div class="col-md-5">
      <div class="row profile-cards">
        {{#each cards}}
          {{>cardPartial this}}
        {{/each}}
      </div>
  </div>

  <div class="col-md-7">
      <div id="mapbox-general" style='height: 300px;'></div>
  </div>
</div>


<!-- Link to General Map -->
<script src="/js/mapbox-general.js"></script>