<h1 class="">Map</h1>

<div class="row">
    <a class="btn btn-success" href="/add-card">Add New Card</a>
</div>

<div class="col-md-5">
    <div id="mapbox" style='width: 600px; height: 300px;'></div>
</div>
<div>
    {{#each cards}}
        {{>cardPartial this}}
    {{/each}}
</div>