<div class="">
  <h1>{{appTitle}}</h1>
  <p class="text-center">Add recommendations and collect cards from the cities you've visited. You can review other travelers recommendations</p>
</div>

<div class="row">
  <div class="col-md-8">
    <!---  Map                -->
    <div id="mapbox-general" style='height: 400px;'></div>
  </div>
  <div class="col-md-4">
    <!---  Create card        -->
    <a class="btn btn-col1 text-white" href="/add-card">Create a new card</a>
    <a class="btn btn-col2 text-white" href="/user-cards">Visit users cards</a>
  </div>
</div>


<!-- Link to General Map -->
<script src="/js/mapbox-general.js"></script>
