<h1>{{appTitle}} 🧳</h1>
<p>Ironhack Project 2</p>

<!---  Search field      -->
<div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationTooltip03">City</label>
      <input type="text" class="form-control" required>
    </div>
</div>

<!---  Map                -->
<div id="mapbox" style='width: 1000px; height: 600px;'></div>

<!---  Create card        -->
<a class="btn btn-secondary mt-3 mb-3" href="/add-card">Create</a>
