<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>

    <!-- Link to Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
    
    <!-- Link to Mapbox -->
    <script src ='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
    <link   href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />

    <script src ='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link   href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' rel ='stylesheet' type='text/css' />

    <!-- Link to Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Install axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg text-white">
        <a class="navbar-brand text-white" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link text-white" href="/profile">Profile<span class="sr-only">(current)</span></a>
            <a class="nav-link text-white" href="/auth/login">Login</a>
            <a class="nav-link text-white" href="/auth/signup">Sign Up</a>
          </div>
        </div>
    </nav>
    
    <div class="container">
    {{{body}}}
    </div>

    <footer class="text-white small pt-2 pb-2">
      <div class="pl-3">
        <p class="m-0">©</p>
      </div>
    </footer>

    <script src="/js/mapbox.js"></script>
    <script src="/js/script.js"></script>
  </body>

</html>