<h1 class="">Hello {{user.username}}</h1>
<input id="userOwnerId-input" type="string" name="userOwnerId" value="{{user._id}}" hidden/>

<div class="container mt-4">
  <div class="row map-section">
    <div  class="enveloppe">
        <div id="mapbox-user" style='width: 400px; height: 500px;'></div>
    </div>

    <div class="col-md-5">
        <h3 class=""><a href="/user-cards">General Map</a></h3>

        <div>
          {{#each cardByUser}}
            {{>cardPartial this}}
          {{/each}}
        </div>
    </div>
  </div>
      <div class="row">
        <a class="btn btn-success" href="/add-card">Add New Card</a>
    </div>
</div>

<div class="row mb-3">
    <a class="btn btn-danger btn-sm" href="/auth/logout">Logout</a>
    <a class="btn btn-light btn-sm" href="#"><em>Favourite Users</em></a>
</div>

<!-- Link to User Map -->
<script src="/js/mapbox-user.js">   </script>