<header class="mb-3">
  <h1 class="text-left">Hello {{user.username}} !</h1>
  <div class="row justify-content-between px-3">
    <p class="">Review all the places you've commented on</p>
    <a class="btn btn-col4 text-white" href="/add-card">Add New Card</a>
  </div>
</header>

<input id="userOwnerId-input" type="string" name="userOwnerId" value="{{user._id}}" hidden/>


<div class="row map-section">

  <div class="col-md-5">
      {{!-- <h3 class=""><a href="/user-cards">General Map</a></h3> --}}
      <div class="row profile-cards">
        {{#each cardByUser}}
          {{>cardPartial this}}
        {{/each}}
      </div>
  </div>

  <div class="col-md-7">
    <div  class="enveloppe">
      <div id="mapbox-user" style='height: 300px;'></div>
     </div> 
      <div class="row mt-3 pr-3 ml-auto justify-content-end">
        <a class="btn btn-danger btn-sm" href="/auth/logout">Logout</a>
        {{!-- <a class="btn btn-light btn-sm" href="#"><em>Favourite Users</em></a> --}}
      </div>
  </div>
  
</div>



<!-- Link to User Map -->
<script src="/js/mapbox-user.js">   </script>