:root {
  --main-color: #FBEDD4;
  --color-theme-1: #FFB95F;
  --color-theme-2: #53407E;
  --color-theme-3: #B3DBCD;
  --color-theme-4: #227469;
  --color-theme-5: #FCF6E3;
}

body {
  font:             14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--color-theme-5);
}

a {
  color:            var(--color-theme-4);
}

h1 {
  color:            15px;
}

nav.navbar {
  /* background-color: #2081c3; */
  background-color: var(--color-theme-4);
}
.container {
  min-height:       100%;
}
footer {
  bottom:           0;
  width:            100%;
  background-color: var(--color-theme-4);
}

.card-body {
  background-color: var(--main-color);
}
.card-buttons a {
  background-color: var(--color-theme-1);
}
.card-buttons form button {
  background-color: var(--color-theme-2);
}
.card-footer {
  background-color: var(--color-theme-1);
}

.card {
  border: 0px;
  border-radius: 0px;
  overflow: hidden;
}
.card:after {
  content: "";
  position:absolute;
  margin:-15px;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  background-color:var(--color-theme-5); /* to see where it is */
  /* box-shadow: 0 0 0 15px #522d5b; */
}

/* ------------- */
/*     Maps      */
/* ------------- */

#map {
  position:        absolute;
  top:             0;
  bottom:          0;
  width:           100%;
}

.map-section {
  justify-content: space-between;
}

#geocoder {
    position:      absolute;
    z-index:       1;
    width:         50%;
    left:          50%;
    margin-left:   -25%;
    top:           10px;
}

.mapboxgl-ctrl-geocoder {
  min-width:       100%;
}

.marker {
  background-image: url("/images/airfield.svg");
  background-size:  cover;
  width:            30px;
  height:           30px;
  border-radius:    10%;
  cursor:           pointer;
}

.mapboxgl-popup {
  max-width:        200px;
}

.mapboxgl-popup-content {
  text-align:       center;
  font-family:      'Open Sans', sans-serif;
}

