body {
  font:             14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff1e1;
}

a {
  color:            #00b7ff;
}

h1 {
  color:            15px;
}

nav.navbar {
  background-color: #2081c3;
}
.container {
  min-height:       100%;
}
footer {
  bottom:           0;
  width:            100%;
  background-color: #0a2c42 
}

.card-body {
  background-color: #FBEDD4;
}
.card-buttons a {
  background-color: #FFB95F;
}
.card-buttons form button {
  background-color: #53407E;
}
.card-footer {
  background-color: #FFB95F;
}

.card {
  border: 0px;
  border-radius: 0px;
  overflow: hidden;
}
.card:after {
  content: "";
  position:absolute;
  margin:-15px;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  background-color:#fff1e1; /* to see where it is */
  /* box-shadow: 0 0 0 15px #522d5b; */
}

/* 
cards colours:
#FBEDD4 - light yellow
#FFB95F - dark yellow
#53407E - purple
#B3DBCD - light green
#227469 - dark green 
#FCF6E3 - beige 
*/


/* ------------- */
/*     Maps      */
/* ------------- */

#map {
  position:        absolute;
  top:             0;
  bottom:          0;
  width:           100%;
}

.map-section {
  justify-content: space-between;
}

#geocoder {
    position:      absolute;
    z-index:       1;
    width:         50%;
    left:          50%;
    margin-left:   -25%;
    top:           10px;
}

.mapboxgl-ctrl-geocoder {
  min-width:       100%;
}

.marker {
  background-image: url("/images/mapbox-icon.png");
  background-size:  cover;
  width:            50px;
  height:           50px;
  border-radius:    50%;
  cursor:           pointer;
}

.mapboxgl-popup {
  max-width:        200px;
}

.mapboxgl-popup-content {
  text-align:       center;
  font-family:      'Open Sans', sans-serif;
}

